@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1: burlywood;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}

#quote{
    font-family: 'Dosis', sans-serif;
}

#quote-box{
    width: 40%;
    padding: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: white;
    color: var(--color1);
}

#author{
    font-size: 1rem;
    padding: 10px 0;
}

#text{
    font-size: 2rem;
}

#text blockquote{
    font-weight: 200;
}

#author, #new-quote{
    text-align: end;
}


.quote-icon{
    color: var(--color1);
}

.tweet-icon{
    background-color: var(--color1);
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.flex{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color1);
    color: white;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn:hover{
    opacity: 0.8;
}


@media screen and (max-width: 800px){
    #quote-box{
        width: 70%;
    }
    .tweet-icon{
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .flex{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #text{
        font-size: 1.5rem;
    }

    #author{
        font-size: 1rem;
    }
    .tweet-icon{
        margin-top: 1vh;
    }
}